{% autoescape off %}
{{ _('hello,') }} {{ user.email }},
{{ _('please, follow the link to confirm your registration.') }}
http://{{ domain }}{{ url('profiles:activate', uidb64=uid, token=token) }}
{% endautoescape %}