{% extends "base.jinja" %}

{% block title %}
    <title>{{ _('authorization') }}</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <h1 class="text-center my-4">{{ _('login') }}</h1>
    {% if form.errors %}
        <p>{{ _('error. enter your data one more or') }} <a href="{{ url('profiles:profile-create') }}">{{ _('sign up') }}</a>.</p>
    {% endif %}
    </div>
        <div class="container my-5 mx-auto">
            <div class="col"></div>
                <form method="post" action="">
                {% csrf_token %}
                        {% for field in form %}
                            <div class="row border border-2 col-6 mx-auto my-2" style="border-radius: 10px;">
                                <div class="col-6">
                                    <b>{{ field.label }}:</b>
                                </div>
                                <div class="col-6">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    <div class="col text-center my-3">
                        <input class='btn btn-lg btn-primary' type="submit" value="{{ _('login') }}" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
        </div>

{% endblock content %}