{% extends "base.jinja" %}

{% block title %}
    <title>{{ _('profile') }}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-3"></div>
    <h1 class="text-center">{{ _('cabinet') }}</h1>
</div>
<br/>

 <div class="container">
        <div class="row my-4">
            <div class="col-7 mx-auto">
                <div class="card flex-md-row shadow-sm h-md-250">
                  <div class="card-body row col-6">
                  {% if user.last_name %}
                        <div class="col-5"><b>{{ _('surname') }}: </b></div>
                        <div class="col-7">{{ user.last_name }}</div>
                  {% endif %}
                  {% if user.first_name %}
                      <div class="col-5"><b>{{ _('name') }}: </b></div>
                      <div class="col-7">{{ user.first_name }}</div>
                  {% endif %}
                  {% if user.email %}
                      <div class="col-5"><b>{{ _('email') }}: </b></div>
                      <div class="col-7 urlize">{{ user.email|urlize }}</div>
                  {% endif %}
                  {% if user.phone %}
                      <div class="col-5"><b>{{ _('phone:') }} </b></div>
                      <div class="col-7"><a href="tel:{{ user.phone }}" style="text-decoration: none;">{{ user.phone }}</a></div>
                  {% endif %}
                  <div class="col my-2">
                      <a class='btn btn-primary' href="{{ url('profiles:profile-update', user.pk) }}">{{ _('edit profile') }}</a>
                  </div>
                  <div class="col my-2">
                      <a class='btn btn-primary' href="{{ url('profiles:password_change', user.pk) }}">{{ _('change password') }}</a>
                  </div>
                </div>

                {% if user.photo %}
                    <div class="col my-4">
                        <img class="rounded-2" src="{{ user.photo.url }}"
                             height="150"
                             width="150" alt="User photo">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if object_list %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-9 mx-auto">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                  <div class="card-body">
                    <h2 class="text-center my-2">{{ _('my topics') }}</h2>
                      <div class="row">
                          {% for topic in object_list %}
                            <div class="my-2 col-6">
                                <div class="border border-2 row" style="border-radius: 10px;">
                                    <div class="col-5"><b>{{ _('title') }}: </b></div>
                                    <div class="col-7">
                                        <a href="{{ url('blog:topic-detail', slug=topic.slug) }}"
                                           style="text-decoration: none;">
                                                {{ topic.name }}
                                        </a>
                                    </div>
                                    {% if topic.description %}
                                        <div class="col-5"><b>{{ _('short description') }}: </b></div>
                                        <div class="col-7">{{ topic.description }}</div>
                                    {% endif %}
                                    <div class="col-5"><b>{{ _('creation date') }}: </b></div>
                                    <div class="col-7">{{ topic.creation_date|date('Y-m-d H:i:s') }}</div>
                                    <div class="col-5"><b>{{ _('change date') }}: </b></div>
                                    <div class="col-7">{{ topic.last_change_date|date('Y-m-d H:i:s') }}</div>
                                    <div class="col-5"><b>{{ _('rating') }}: </b></div>
                                    <div class="col-7">{{ topic.rating|floatformat(2) }}/5</div>
                                    {% if topic.category.all %}
                                        {% if topic.category.count() > 1 %}
                                            <div class="col-5"><b>{{ _('categories') }}: </b></div>
                                        {% else %}
                                            <div class="col-5"><b>{{ _('category') }}: </b></div>
                                        {% endif %}
                                        <div class="col-7">
                                            {% for cat in topic.category.all() %}
                                                <a href="{{ url('blog:category', slug=cat.slug) }}" style="text-decoration: none;">
                                                    {{ cat }}</a>{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{ url('blog:topic-favourite', slug=topic.slug) }}"
                                               style="text-decoration: none; display: inline-flex; align-items: center;">
                                            {% if topic|is_favourite(request) %}
                                                <img src="{{ static('like.png') }}" height="40" width="40">
                                            {% else %}
                                                <img src="{{ static('dislike.png') }}" height="40" width="40">
                                            {% endif %}
                                            <span style="color: #df2540; font-size: 30px; margin-left: 10px;"> {{ topic.number_of_likes }}</span>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-sm btn-primary rounded-5 my-2" href="{{ url('blog:topic-detail', slug=topic.slug) }}">
                                                {{ _('more details') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          {% endfor %}
                      </div>
                      {% include 'pagination.jinja' %}
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}