{% extends "base.jinja" %}

{% block title %}
    <title>{{ _('edit profile') }}</title>
{% endblock title %}

{% block content %}
<h1 class="text-center">{{ _('edit profile') }}</h1>
<div class="container">
    <div class="row my-5">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="mx-auto" style=";
                    border-radius: 10px;">
                {{ form.as_table }}
            </table>
            <div class="text-center my-2">
                <input class="btn btn-primary" type="submit" value="{{ _('save') }}/>
            </div>
        </form>
    </div>
</div>

{% endblock content %}