{% extends "base.jinja" %}

{% block title %}
    <title>{{ _('sign up') }}</title>
{% endblock title %}

{% block content %}
    <h1 class="text-center">{{ _('sign up') }}</h1>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
      <div class="container my-4">
              {% for field in form %}
                <div class="row border border-2 col-6 mx-auto my-2" style="border-radius: 10px;">
                    <div class="col-6">
                        <b>{{ field.label }}:</b>
                    </div>
                    <div class="col-6">
                        {{ field }}
                    </div>
                </div>
              {% endfor %}
      </div>
        <div class="text-center">
            <input type="submit" value="{{ _('sing up') }}" class="btn btn-primary my-3">
        </div>
    </form>
{% endblock %}