{% extends 'base.jinja'%}
{% block title %}
    <title>{{ _('password successfully changed') }}</title>
{% endblock title %}

{% block content %}
    <div class="text-center my-4">
        <h1>{{ _('password successfully changed') }}</h1>
    </div>
{% endblock content %}

