{% extends "base.jinja" %}

{% block title %}
    <title>{{ _('password reset') }}</title>
{% endblock title %}


{% block content %}

<h1 class="text-center my-3">{{ _('password reset') }}</h1>

<form class="my-4" action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <div class="row border border-2 col-4 mx-auto" style="border-radius: 10px;">
            <div class="col-6">
                        <b>{{ form.email.label }}:</b>
            </div>
            <div class="col-6">
                {{ form.email }}
            </div>

        </div>
    <div class="text-center my-3">
        <input type="submit" class="btn btn-primary" value="{{ _('send') }}" />
    </div>
</form>

{% endblock %}