{% extends "base.jinja" %}

{% block title %}
    <title>{{ _('password successfully changed') }}</title>
{% endblock title %}

{% block content %}

  <!--Password Reset Complete-->
    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3">{{ _('password successfully changed') }}</h2>
		<hr>
        <p>{{ _('password successfully changed. now you can login') }}</p>
        <a href="{{ url('profiles:login') }}" class="btn btn-primary">{{ _('login') }}</a>
    </div>

{% endblock %}