{% extends 'base.jinja' %}

{% block title %}
    <title>{{ _('email was sent') }}</title>
{% endblock title %}

{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">{{ _('email was sent') }}</h2>
		<hr>
		<p>{{ _('we sent you email for password reset. to reset follow the link in email.') }}</p>
  </div>

{% endblock %}