{% extends "base.jinja" %}

{% block title %}
    <title>{{ _('create new password') }}</title>
{% endblock title %}

{% block content %}

  <!--Password Reset Confirm-->
    <div class="container my-4">
        <div class="row">
            <h1 class="font-weight-bold text-center">{{ _('create new password') }}</h1>
            <form class="border rounded-3 col-7 mx-auto" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row border border-2 col-10 mx-auto my-2" style="border-radius: 10px;">
                        <div class="col-6">
                            <b>{{ field.label }}:</b>
                        </div>
                        <div class="col-6">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-primary my-2 offset-1" type="submit">{{ _('create') }}</button>
            </form>
            </div>
        </div>
    </div>

{% endblock %}