{% extends 'base.jinja' %}

{% block title %}
    <title>{{ _('password change') }}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <h1  class="text-center my-2">{{ _('password change') }}</h1>
        <div class="col-7 border rounded-3 mx-auto my-3">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row border border-2 col-10 mx-auto my-2" style="border-radius: 10px;">
                        <div class="col-6">
                            <b>{{ field.label }}:</b>
                        </div>
                        <div class="col-6">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <button  type="submit"  class="btn btn-success offset-1 my-2">{{ _('change') }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}