{% extends 'base.jinja' %}

{% block title %}
    <title>{{ _('blog') }}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto my-3">
            <form method="get">
                {% for field in filter.form %}
                    <div class="row border border-2 col-6 mx-auto my-2" style="border-radius: 10px;">
                        <div class="col-4">
                            <b>{{ field.label }}:</b>
                        </div>
                        <div class="col-3">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="col text-center my-3">
                    <input class='btn btn-primary' type="submit" value="{{ _('show up') }}" />
                </div>
            </form>
            {% if object_list %}
                <h1 class="text-center">{{ _('topic list') }}</h1>
            {% else %}
                <h3 class="text-center">{{ _("unfortunutely, there's no topics") }}</h3>
            {% endif %}
        </div>
    </div>
</div>
{% if object_list %}
    <div class="container">
        <div class="row my-2">
            <div class="col-md-9 mx-auto">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                  <div class="card-body">
                      <div class="row">
                          {% for topic in object_list %}
                            <div class="my-2 col-6">
                                <div class="border border-2 row" style="border-radius: 10px;">
                                    <div class="col-5"><b>{{ _('topic') }}: </b></div>
                                    <div class="col-7">
                                        <a href="{{ url('blog:topic-detail', slug=topic.slug) }}"
                                           style="text-decoration: none;">
                                                {{ topic.name }}
                                        </a>
                                    </div>
                                    {% if topic.description %}
                                        <div class="col-5"><b>{{ _('short description') }}: </b></div>
                                        <div class="col-7">{{ topic.description }}</div>
                                    {% endif %}
                                    <div class="col-5"><b>{{ _('author') }}: </b></div>
                                    <div class="col-7 urlize">{{ topic.author|urlize }}</div>
                                    <div class="col-5"><b>{{ _('creation date') }}: </b></div>
                                    <div class="col-7">{{ topic.creation_date|localtime|date('Y-m-d H:i:s') }}</div>
                                    <div class="col-5"><b>{{ _('change date') }}: </b></div>
                                    <div class="col-7">{{ topic.last_change_date|localtime|date('Y-m-d H:i:s') }}</div>
                                    <div class="col-5"><b>{{ _('rating') }}: </b></div>
                                    <div class="col-7">{{ topic.rating|floatformat(2) }}/5</div>
                                    {% if topic.category.all() %}
                                        {% if topic.category.count() > 1 %}
                                            <div class="col-5"><b>{{ _('categories') }}: </b></div>
                                        {% else %}
                                            <div class="col-5"><b>{{ _('category') }}: </b></div>
                                        {% endif %}
                                        <div class="col-7">
                                            {% for cat in topic.category.all() %}
                                                <a href="{{ url('blog:category', slug=cat.slug) }}" style="text-decoration: none;">
                                                    {{ cat }}</a>{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <div class="row">
                                            <div class="col-5">
                                                <a href="{{ url('blog:topic-favourite', slug=topic.slug) }}"
                                                   style="text-decoration: none; display: inline-flex; align-items: center;">
                                                {% if topic|is_favourite(request) %}
                                                    <img src="{{ static('like.png') }}" height="40" width="40">
                                                {% else %}
                                                    <img src="{{ static('dislike.png') }}" height="40" width="40">
                                                {% endif %}
                                                <span style="color: #df2540; font-size: 30px; margin-left: 10px;"> {{ topic.number_of_likes }}</span>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-primary rounded-5 my-2" style="margin-left: 10px;" href="{{ url('blog:topic-detail', slug=topic.slug) }}">
                                                    {{ _('more details') }}
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col">
                                            <a href="{{ url('profiles:login') }}" style="text-decoration: none; display: inline-flex; align-items: center;">
                                                <img src="{{ static('dislike.png') }}" height="40" width="40">
                                                <span style="color: #df2540; font-size: 30px; margin-left: 10px;"> {{ topic.number_of_likes }}</span>
                                            </a>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-sm btn-primary rounded-5 my-2" href="{{ url('blog:topic-detail', slug=topic.slug) }}">
                                                    {{ _('more details') }}
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                          {% endfor %}
                      </div>
                      {% include 'pagination.jinja' %}
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}