{% extends "base.html" %}
{% load topic_filter %}

{% block title %}
    <title>{{ _('category') }}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-4"></div>
    <h1 class="text-center">{{ _('category') }} {{ category }}</h1>
</div>
<div class="container">
    <div class="row my-5">
        <div class="col-md-9 mx-auto">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body">
                  {% if object_list %}
                    <h2 class="text-center my-2">{{ _('topic list') }}</h2>
                      <div class="row">
                          {% for topic in object_list %}
                            <div class="my-2 col-6">
                                <div class="border border-2 row" style="border-radius: 10px;">
                                    <div class="col-5"><b>{{ _('topic') }}: </b></div>
                                    <div class="col-7">
                                        <a href="{{ url('blog:topic-detail', slug=topic.slug) }}"
                                           style="text-decoration: none;">
                                                {{ topic.name }}
                                        </a>
                                    </div>
                                    <div class="col-5"><b>{{ _('rating') }}: </b></div>
                                    <div class="col-7">{{ topic.rating|floatformat(2) }}/5</div>
                                    <div class="col-5"><b>{{ _('likes') }}: </b></div>
                                    <div class="col-7">{{ topic.number_of_likes }}</div>
                                    <div class="col-5"><b>{{ _('reviews') }}: </b></div>
                                    <div class="col-7">{{ topic.number_of_reviews }}</div>
                                    <div class="col-5"><b>{{ _('creation date') }}: </b></div>
                                    <div class="col-7">{{ topic.creation_date }}</div>
                                    <div class="col-5"><b>{{ _('change date') }}: </b></div>
                                    <div class="col-7">{{ topic.last_change_date }}</div>
                                    {% if topic.description %}
                                        <div class="col-5"><b>{{ _('short description') }}: </b></div>
                                        <div class="col-7">{{ topic.description }}</div>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <div class="row">
                                            <div class="col">
                                                <a href="{% url 'blog:topic-favourite' topic.slug %}">
                                                {% if topic|is_favourite(request) %}
                                                    <img src="{{ static('like.png') }}" height="40" width="40">
                                                {% else %}
                                                    <img src="{{ static('dislike.png') }}" height="40" width="40">
                                                {% endif %}
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-sm btn-primary rounded-5 my-2" href="{{ url('blog:topic-detail', slug=topic.slug) }}">
                                                    {{ _('more details') }}
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col">
                                            <a href="{{ url('profiles:login') }}">
                                                <img src="{{ static('dislike.png') }}" height="40" width="40">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-sm btn-primary rounded-5 my-2" href="{{ url('blog:topic-detail', slug=topic.slug) }}">
                                                {{ _('more details') }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                          </div>
                      {% include 'pagination.jinja' %}
                  {% endif %}
                </div>
              </div>
              {% if topic.photo %}
                <div>
                    <img class="card-img-right flex-auto d-none d-lg-block my-3 px-2" src="{{ topic.photo.url }}"
                         height="250"
                         width="275" alt="topic picture">
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
