<div class="container">
    <form method="get" action="{{ url('blog:topic-search') }}" id="search-form">
      {% for field in form() %}
          <div style="padding-top: 4px;">{{ field }}</div>
          <button type="submit" class="btn btn-primary btn-sm my-1">{{ _('search') }}</button>
      {% endfor %}
    </form>
  </div>
</div>