{% extends 'base.jinja' %}

{% block title %}
    <title>{{ _('search') }}</title>
{% endblock title %}

{% block content %}

{% if topic_list %}
    <div class="container my-4">
       <div class="row">
           <div class="my-4 col-10 mx-auto border border-2 rounded-2">
               <h2 class="text-center my-2">{{ _('topics on request') }}</h2>
            <div class="row">
                {% for topic in topic_list %}
                        <div class="my-2 col-6">
                            <div class="border border-2 row" style="border-radius: 10px;">
                                <div class="col-5"><b>{{ _('title') }}: </b></div>
                                <div class="col-7">
                                    <a href="{{ url('blog:topic-detail', slug=topic.slug) }}"
                                       style="text-decoration: none;">
                                            {{ topic.name }}
                                    </a>
                                </div>
                                {% if topic.description %}
                                    <div class="col-5"><b>{{ _('short description') }}: </b></div>
                                    <div class="col-7">{{ topic.description }}</div>
                                {% endif %}
                                <div class="col-5"><b>{{ _('author') }}: </b></div>
                                <div class="col-7 urlize">{{ topic.author|urlize }}</div>
                                <div class="col-5"><b>{{ _('creation date') }}: </b></div>
                                <div class="col-7">{{ topic.creation_date }}</div>
                                <div class="col-5"><b>{{ _('change date') }}: </b></div>
                                <div class="col-7">{{ topic.last_change_date }}</div>
                                <div class="col-5"><b>{{ _('rating') }}: </b></div>
                                <div class="col-7">{{ topic.rating|floatformat(2) }}/5</div>
                                {% if topic.category.all %}
                                    {% if topic.category.count() > 1 %}
                                        <div class="col-5"><b>{{ _('categories') }}: </b></div>
                                    {% else %}
                                        <div class="col-5"><b>{{ _('category') }}: </b></div>
                                    {% endif %}
                                    <div class="col-7">
                                        {% for cat in topic.category.all() %}
                                            <a href="{{ url('blog:category', slug=cat.slug) }}" style="text-decoration: none;">
                                                {{ cat }}</a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <div class="row">
                                        <div class="col-5">
                                            <a href="{{ url('blog:topic-favourite', slug=topic.slug) }}"
                                               style="text-decoration: none; display: inline-flex; align-items: center;">
                                            {% if topic|is_favourite(request) %}
                                                <img src="{{ static('like.png') }}" height="40" width="40">
                                            {% else %}
                                                <img src="{{ static('dislike.png') }}" height="40" width="40">
                                            {% endif %}
                                            <span style="color: #df2540; font-size: 30px; margin-left: 10px;"> {{ topic.number_of_likes }}</span>
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <a class="btn btn-sm btn-primary rounded-5 my-2" style="margin-left: 10px;" href="{{ url('blog:topic-detail', slug=topic.slug) }}">
                                                {{ _('more details') }}
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col">
                                        <a href="{{ url('profiles:login') }}" style="text-decoration: none; display: inline-flex; align-items: center;">
                                            <img src="{{ static('dislike.png') }}" height="40" width="40">
                                            <span style="color: #df2540; font-size: 30px; margin-left: 10px;"> {{ topic.number_of_likes }}</span>
                                        </a>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-sm btn-primary rounded-5 my-2" href="{{ url('blog:topic-detail', slug=topic.slug) }}">
                                                {{ _('more details') }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}
           </div>
        {% include 'pagination.jinja' %}
       </div>
    </div>
{% else %}
    <div class="container">
        <h1 class="text-center my-5">{{ _("there's no topics on your request") }}</h1>
    </div>
{% endif %}

{% endblock content %}
