{% extends "base.jinja" %}


{% block title %}
    <title>{{ _('topic') }}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-2"></div>
    <h1 class="text-center">{{ _('topic') }}</h1>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="offset-1 my-2">
            <a class="btn btn-primary my-2" href="{{ url('blog:blog') }}">
                {{ _('to topic list') }}
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body">
                  <div class="border rounded-2 container">
                      <div class="row">
                          <h5 class="card-title my-2"><b>{{ _('topic') }}: </b> {{ topic.name }}</h5>
                          {% if topic.category.first() %}
                              {% if topic.category.count() > 1 %}
                                  <h6><b>{{ _('categories') }}: </b>
                              {% else %}
                                  <h6><b>{{ _('category') }}: </b>
                              {% endif %}
                                  {% for cat in topic.category.all() %}
                                      <a href="{{ url('blog:category', slug=cat.slug) }}" style="text-decoration: none;">
                                          {{ cat }}</a>{% if not loop.last %}, {% endif %}
                                  {% endfor %}
                              </h6>
                          {% endif %}
                          <h6><b>{{ _('author') }}:</b>
                              <span class="urlize">{{ topic.author|urlize }}</span></h6>
                          <h6 class="card-title"><b>{{ _('creation date') }}:</b> {{ topic.creation_date|localtime|date('Y-m-d H:i:s') }}</h6>
                          <h6><b>{{ _('change date') }}:</b> {{ topic.last_change_date|localtime|date('Y-m-d H:i:s') }}</h6>
                          {% if topic.content %}
                                    <div class="text-center my-1"><h2>{{ _('content') }}:</h2></div>
                                    <div class="my-3">{% autoescape off %}{{ topic.content }}{% endautoescape %}</div>
                          {% endif %}
                      </div>
                  </div>
                  {% if user.is_authenticated %}
                    <span class="my-2" style="display: inline-flex; align-items: center;">
                      <a href="{{ url('blog:topic-favourite', slug=topic.slug) }}" style="text-decoration: none;">
                          {% if topic|is_favourite(request) %}
                            <img src="{{ static('like.png') }}" height="40" width="40">
                          {% else %}
                            <img src="{{ static('dislike.png') }}" height="40" width="40">
                          {% endif %}
                      </a>
                        <span style="color: #df2540; font-size: 30px; margin: 0 50px 0 10px"> {{ topic.number_of_likes }}</span>
                      <a class="btn btn-primary rounded-5 my-2" href="{{ url('blog:subscribe', topic.author.id) }}">
                          {{ _('subscribe') }}
                      </a>
                    </span>
                  {% else %}
                    <span>
                        <a href="{{ url('profiles:login') }}" style="text-decoration: none;
                           display: inline-flex; align-items: center;">
                            <img src="{{ static('dislike.png') }}" height="40" width="40">
                        </a>
                        <span style="color: #df2540; font-size: 30px; margin: 0 50px 0 10px"> {{ topic.number_of_likes }}</span>
                          <a class="btn btn-sm btn-primary rounded-5 my-2" href="{{ url('profiles:login') }}">
                              {{ _('subscribe') }}
                        </a>
                    </span>
                  {% endif %}
                  <div class="row">
                      <div class="border border-2 col-8 rounded-3 my-2">
                          <h3 class="text-center">{{ _('make a review') }}</h3>
                          <div class="row" style="padding-left: 15px; line-height: 30px;">
                              <div class="col-4"><b>{{ _('rating') }}: </b></div>
                              <div class="col-4">{{ topic.rating|floatformat(2) }} из 5</div>
                          </div>
                          <form method="post"  action="">
                              {% csrf_token %}
                              {% for field in form %}
                                    <div class="row" style="padding-left: 15px; line-height: 30px;">
                                        <div class="col-4">
                                            <b>{{ field.label }}:</b>
                                        </div>
                                        <div class="col-8 my-1">
                                            {{ field }}
                                        </div>
                                    </div>
                              {% endfor %}
                              <button class="btn btn-primary my-2" type="submit" style="margin-left: 15px;">{{ _('send') }}</button>
                          </form>
                      </div>
                      {% if topic.recommended_topics.first() %}
                          <div class="border border-2 col-6 rounded-3 my-2">
                              <div class="row">
                                  {% if topic.recommended_topics.count() > 1 %}
                                      <h3 class="text-center">{{ _('recommended topics') }}</h3>
                                  {% else %}
                                      <h3 class="text-center">{{ _('recommended topic') }}</h3>
                                  {% endif %}
                                  </h6>



                                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                      <div class="carousel-inner">
                                        {% for top in topic.recommended_topics.all() %}
                                              <div class="carousel-item{% if loop.first %} active{% endif %}">
                                                  <div class="row mx-auto">
                                                    <div class="offset-1 col-5"><b>{{ _('title') }}: </b></div>
                                                    <div class="col-6">
                                                        <a href="{{ url('blog:topic-detail', slug=top.slug) }}"
                                                           style="text-decoration: none;">
                                                                {{ top.name }}
                                                        </a>
                                                    </div>
                                                    {% if top.description %}
                                                        <div class="offset-1 col-5"><b>{{ _('short description') }}: </b></div>
                                                        <div class="col-6">{{ top.description }}</div>
                                                    {% endif %}
                                                    <div class="offset-1 col-5"><b>{{ _('creation date') }}: </b></div>
                                                    <div class="col-6">{{ top.creation_date|localtime|date('Y-m-d H:i:s') }}</div>
                                                    <div class="offset-1 col-5"><b>{{ _('change date') }}: </b></div>
                                                    <div class="col-6">{{ top.last_change_date|localtime|date('Y-m-d H:i:s') }}</div>
                                                    <div class="offset-1 col-5"><b>{{ _('rating') }}: </b></div>
                                                    <div class="col-6">{{ top.rating|floatformat(2) }}/5</div>
                                                    {% if top.category.all %}
                                                        {% if top.category.count() > 1 %}
                                                            <div class="offset-1 col-5"><b>{{ _('categories') }}: </b></div>
                                                        {% else %}
                                                            <div class="offset-1 col-5"><b>{{ _('category') }}: </b></div>
                                                        {% endif %}
                                                        <div class="col-6">
                                                            {% for cat in top.category.all %}
                                                                <a href="{{ url('blog:category', slug=cat.slug) }}" style="text-decoration: none;">
                                                                    {{ cat }}</a>{% if not forloop.last %}, {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                              </div>
                                              </div>
                                          {% endfor %}
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">{{ _('Previous') }}</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">{{ _('Next') }}</span>
                                      </button>
                                    </div>




                              </div>
                          </div>
                      {% endif %}
                  </div>
                  {% if object_list %}
                  <h3 class="text-center my-4">{{ _('comments') }}</h3>
                      {% for review in object_list %}
                        <div class="border border-2 rounded-3 my-3">
                            <div class="row">
                                <div class="col-3" style="padding-left: 25px; padding-top: 10px;">
                                    <b>{{ _('user') }}: </b>
                                </div>
                                <div class="col-7 urlize" style="padding-left: 25px; padding-top: 10px;">
                                    {% if review.user %}
                                        {{ review.user|urlize }}<br />
                                    {% else %}
                                        {{ _('anonymous') }}
                                    {% endif %}
                                </div>
                                <div class="col-3" style="padding-left: 25px; padding-top: 10px;">
                                    <b>{{ _('mark') }}: </b>
                                </div>
                                <div class="col-7" style="padding-left: 25px; padding-top: 10px;">
                                    {{ review.mark }}
                                </div>
                                <div class="col-3" style="padding-left: 25px; padding-top: 10px;">
                                    <b>{{ _('creation date') }}: </b>
                                </div>
                                <div class="col-7" style="padding-left: 25px; padding-top: 10px;">
                                    {{ review.creation_date }}
                                </div>
                                <div class="col-3" style="padding-left: 25px; padding-top: 10px;">
                                    <b>{{ _('change date') }}: </b>
                                </div>
                                <div class="col-7" style="padding-left: 25px; padding-top: 10px;">
                                    {{ review.last_change_date }}
                                </div>
                            </div>
                            {% if review.comment %}
                                <div class="row">
                                    <div class="col-3" style="padding-left: 25px; padding-top: 10px;">
                                        <b>{{ _('comment') }}: </b>
                                    </div>
                                    <div class="col-7" style="padding-left: 25px; padding-top: 10px;">
                                        {{ review.comment }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                      {% endfor %}
                    {% include 'pagination.jinja' %}
                  {% endif %}
              </div>
            {% if topic.photo %}
                <div>
                    <img class="card-img-right flex-auto d-none d-lg-block my-3 px-2" src="{{ topic.photo.url }}"
                         style="border-radius: 20px;"
                         height="250"
                         width="275" alt="topic picture">
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
