{% for item in menu %}
    {% if item.to_show %}
        {% if item.target == 'new_page' %}
            <a href="{{ item.url }}"
               style="padding-left: 20px; text-decoration: none; font-size: 18px;"
               target="_blank">
                {{ item }}
            </a>
        {% else %}
            <a href="{{ item.url }}"
               style="padding-left: 20px; text-decoration: none; font-size: 18px;">
                {{ item }}
            </a>
        {% endif %}
    {% endif %}
{% endfor %}
