{% extends "base.jinja" %}

{% block title %}
    <title>{{ textpage.title }}</title>
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row my-4"></div>
    <h1 class="text-center">{{ textpage.title }}</h1>
</div>
<div class="container">
    <div class="row my-5">
        <div class="col-md-9 mx-auto">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body">
                  {{ textpage.content }}
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}