{% if user.is_authenticated %}
    {% set profile_detail_url=url('profiles:profile-detail', user.pk) %}
    {% set profile_update_url=url('profiles:profile-update', user.pk) %}
{% endif %}
{% set profile_create_url=url('profiles:profile-create') %}
{% set login_url=url('profiles:login') %}
{% set blog_url=url('blog:blog') %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">

    {% block title %}
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="icon" href="{{ static('favicon.ico') }}">
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .urlize a {
            text-decoration:none;
        }

        #search-form input {
            width: 150px;
        }
    </style>


    <!-- Custom styles for this template -->
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light"
             style="background-color: #cec9c9;
                    border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
            <div class="container-fluid">
                <a class="navbar-brand btn btn-primary {% if request.path == blog_url %}active{% endif %}" href="{{ url('blog:blog') }}"
                   style=" width: 70px; height: 70px; line-height: 60px; border-radius: 35px; text-align: center; color: white">
                    {{ _('blog') }}
                </a>
                <div class="col-6">
                    {{ header_menu() }}
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="ms-auto navbar-nav">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" style="margin-right: 80px;"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            {{ _('account') }}
                        </button>
                        <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li>
                                <a class="dropdown-item
                                        {% if request.path == profile_detail_url or request.path == profile_update_url %}
                                            active
                                        {% endif %}"
                                   href="{{ url('profiles:profile-detail', user.pk) }}"
                                >
                                    {{ _('my profile') }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="{{ url('profiles:logout') }}">{{ _('logout') }}</a>
                            </li>
                        {% else %}
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" id="loginModalTarget" href="#">Вход</a>-->
<!--                            </li>-->
                                <li>
                                    <a class="dropdown-item {% if request.path == login_url %}active{% endif %}"
                                       href="{{ url('profiles:login') }}">
                                        {{ _('login') }}
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{{ url('password_reset') }}">
                                        {{ _('reset password') }}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if request.path == profile_create_url %}active{% endif %}"
                                       href="{{ url('profiles:profile-create') }}">
                                        {{ _('sing up') }}
                                    </a>
                                </li>
                              </ul>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col">
                <ul>
                    <li><a href="{{ url('blog:change-language', 'ru') }}">RU</a></li>
                    <li><a href="{{ url('blog:change-language', 'uk') }}">UK</a></li>
                </ul>
            </div>
            <div class="col-2">
                {{ search_form() }}
            </div>
        </nav>
    </div>


</header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    {% if messages %}
        <div class="container my-3">
            <div class="row col-6 mx-auto">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

        {% block content %}
        {% endblock content %}

    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>

</body>
<footer class="footer mt-auto py-3 container"
        style="background-color: #cec9c9; border-top-right-radius: 10px; border-top-left-radius: 10px;">
      <div class="row">
          <div class="col-1"><a href="https://webcase.com.ua" style="text-decoration: none;">{{ _('developer') }}</a></div>
          <div class="col">| {{ footer_menu() }}</div>
          <div class="col-3"><small>| {{ _('Copyright bla bla bla') }}</small></div>
      </div>
</footer>

</html>
