{% if is_paginated %}
    <nav class="col" aria-label="Page navigation">
        <div class="row">
            <div class="container">
                <ul class="pagination">
                    <!-- << PREVIOUS PART -->
                    <!-- << Disable 'Previous' page button if you are at the 1st page -->
                    {% if not page_obj.has_previous() %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                                   <span class="sr-only">{{ _('previous') }}</span>
                            </a>
                        </li>
                    <!-- << If you are at the 2nd page,
                    'Previous' page button will get 'current_path' url instead of '/current_path/?page=1' -->
                    {% elif page_obj.previous_page_number() == 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ page_replace(request, 1) }}"
                                      aria-label="Previous">
                                  <span class="sr-only">{{ _('previous') }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                              href="?{{ page_replace(request, page_obj.previous_page_number()) }}"
                                    aria-label="Previous">
                              <span class="sr-only">{{ _('previous') }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <!-- PAGES PART -->
                    {% for num in page_obj.paginator.page_range %}
                        <!-- Active page -->
                        {% if num == page_obj.number %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ num }}<span class="sr-only"></span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <!-- For the 1st page we do not use ?page=1 -->
                                {% if num == 1 %}
                                    <a class="page-link" href="?{{ page_replace(request, num) }}">{{ num }}</a>
                                {% else %}
                                    <!-- Show current page and +-3 pages -->
                                    {% if num|add("-3") <= page_obj.number and page_obj.number <= num|add("3") %}
                                        <a class="page-link"
                                           href="?{{ page_replace(request, num) }}">
                                            {{ num }}
                                        </a>
                                    <!-- Shows every 10th page and the last page -->
                                    {% elif num|divisibleby("10") or num == page_obj.paginator.num_pages %}
                                        <a class="page-link"
                                           href="?{{ page_replace(request, num) }}">
                                            {{ num }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!-- >> NEXT PART -->
                    {% if not page_obj.has_next() %}
                        <!-- << Disable 'Next' page button if you are at the last page -->
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-label="Next">
                               <span class="sr-only">{{ _('next') }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?{{ page_replace(request, page_obj.next_page_number()) }}"
                                      aria-label="Next">
                               <span class="sr-only">{{ _('next') }}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
